
.bold {
  font-weight: bold;
}

#header {
  padding-bottom: 20px;
  margin-bottom:0px;

  background-color: #FDFDFD;

  border-bottom: 1px solid #DDD;
}

    #subtitle {
      margin-bottom: 45px;
      color: #888;
    }

    #links {
      font-size:4px !important;
    }

    #left-link {
      border-left: 1px solid gray;
    }

    #middle-link {
      border-left: 1px solid gray;
      border-right: 1px solid gray;
    }

    #right-link {
      border-right: 1px solid gray;
    }

    #links .col {
      margin-top:4px;
      margin-bottom:4px;
    }

    #links a {
      color: #666666;
      font-weight: bold;
    }

    #links a:hover {
      color: #999;
      text-decoration: none;
    }


#main {
  padding-left: 0px !important;
  padding-right: 0px !important;

  margin-top:40px;
}

  #slideshow {
    margin-bottom: 2rem;
  }


#footer {
  margin-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #F8F8F8;
  text-align: center;

  color:#888;
}

  #phone-number {
    display: block;
    margin-bottom: 10px;
  }

  .socialMediaLink {
    width: 25px;
    height: auto;

    text-align: center;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .socialMediaLink:hover {
    opacity: 0.7;
  }
  a {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  a:link { color:#888; text-decoration:none; font-weight:bold; }
  a:visited { color: #aaaaaa; text-decoration:none; font-weight:bold; }
  a:hover { color: #818181; text-decoration:none; font-weight:bold; }
  a:active { color: #aaaaaa; text-decoration:none; font-weight:bold; }



@media only screen and (max-width: 418px) {
  #title {
    font-size: 28px !important;
  }

  #subtitle {
    font-size: 14px !important;
  }

  #links * h6 {
    font-size: 13px !important;
  }
}


@media only screen and (max-width: 350px) {
  #links * h6 {
    font-size: 11px !important;
  }

  #links .col {
    padding-left: 10px;
    padding-right: 10px;
  }
}
